<h1>Add a new volunteer</h1>

<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name">Volunteer name</label>
    <input id="n" name="volunteer_name" class="form-control" type="text">

  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>
