<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_name">Project name</label>
    <input id="n" name="project_name" class="form-control" type="text">

    <label for="project_year">Project Year</label>
    <input id="n" name="project_year" class="form-control" type="text">

    <label for="project_genre">Project Genre</label>
    <input id="n" name="project_genre" class="form-control" type="text">

    <label for="project_artist">Project Artist</label>
    <input id="n" name="project_artist" class="form-control" type="text">

    <label for="project_cost">Project Price</label>
    <input id="n" name="project_cost" class="form-control" type="text">

    <input id="n" name="status" class="form-control" type="hidden" value="true">

  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>
