<h3><center>Add a new porject</center></h3>
<form action="/projects" method="post">
  <div class="form-group">
    <input id="project_title" name="project_title" class="form-control bg-success" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>

<h3><center>Available Projects</center></h3>
<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id %>"><strong><%= project.title %>:</strong></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no projects to display.</p>
<% end %>
